.container {
    margin-top: 200px;
    font-family: "Bedas Neue";
    display: flex;
    flex-direction: column;
    gap: 20px; /* Увеличим отступы между элементами */
    min-width: 770px;
    background-color: var(--grey);
    border: 1px solid var(--light_grey);
    border-radius: 30px;
    padding: 30px;
}

.container input::placeholder{
    font-family: "Open Sans";
    font-size: 24px;
    color: var(--white);
}

.container h3 {
    font-family: "Unbounded";
    font-size: 32px; /* Увеличим размер шрифта */
    text-align: center; /* Центрируем текст */
}

.container input {
    border: none;
    border-radius: 30px;
    height: 49px;
    background-color: var(--dark_grey);
    padding: 0 15px; 
    font-size: 16px; 
    color: var(--white); 
}

.container button {
    border: none;
    border-radius: 30px;
    margin-top: 20px; 
    height: 39px;
    background-color: var(--main_orange);
    font-family: sans-serif;
    color: var(--white);
    font-size: 24px; 
    cursor: pointer; 
}

.error {
    border: 1px solid var(--main_orange);
}

.container button:hover {
    background-color: var(--orange); /* Изменение цвета при наведении */
}

.Login-form {
    min-width: 770px;
    height: 323px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Центрируем форму по вертикали */
}

.error-message{
    font-size: 16px;
    font-family: "Open Sans";
    color: var(--main_orange);
}