

.AddLot {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 1205px;
    height: auto;
    background-color: var(--grey);
    padding: 30px;
    border: 1px solid var(--white);
    border-radius: 30px;
    margin-top: 10px;
}

.Add_Many_Lots {
    max-width: 1205px;
    margin: 0 auto;
}

.AddFile {
    margin: 0 auto;
    width: 1205px;
    border: 1px solid var(--grey);
    border-radius: 30px;
    height: 242px;
    background-color: var(--dark_grey);
    margin-bottom: 25px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.AddFile:hover {
    background-color: var(--hover_grey); /* Добавьте цвет для hover в вашем CSS */
}

.AddFile p {
    font-size: 24px;
    color: var(--white);
    text-align: center;
}

.Add_One_Lot {
    width: 1205px;
    margin: 0 auto;
}

.input-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.input-row.triple {
    grid-template-columns: 1fr auto 1fr;
}

.Add_One_Lot input {
    border: none;
    border-radius: 30px;
    background-color: var(--dark_grey);
    padding: 12px;
    font-family: "Open Sans";
    font-size: 24px;
    color: var(--white);
}

.Add_One_Lot select{
    border: none;
    border-radius: 30px;
    background-color: var(--dark_grey);
    padding: 12px;
    font-family: "Open Sans";
    font-size: 24px;
    color: var(--white);
}

.Add_One_Lot input::placeholder {
    text-decoration: none;
    font-family: "Open Sans";
    font-size: 24px;
    color: var(--white);
}

.Add_One_Lot button {
    padding: 12px 24px;
    background-color: var(--grey);
    color: white;
    border: 1px solid var(--main_orange);
    width: 300px;
    border-radius: 30px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--orange);
}

.Add_One_Lot input {
    width: 100%;
    box-sizing: border-box;
}

.input-row.triple button {
    margin: 0 10px;
    min-width: 120px;
}